# --- IDE / Editor ---
.idea/
.vscode/
*.iml
out/
.agents/
# !.vscode/launch.json

# --- Kotlin & Java ---
.kotlin/
*.class
*.log
*.jar
!gradle-wrapper.jar

# --- Build Tools (Gradle) ---
.gradle/
build/
local.properties
.gradletasknamecache
gradle-app.setting

# --- Runtime / Environment ---
run/
hs_err_pid*
*.stackdump

# --- OS Specific (Keep it lean) ---
# macOS
.DS_Store
._*
.AppleDouble
.fseventsd
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# --- Others (Project Specific) ---
.architectury-transformer/